			.satu{
			 width:200px;
			 border-radius:20px;
			 border:none;
			}.dua{
			 width:150px;
			 height:150px;
			 object-fit:cover;
			 object-position:center;
			}.tiga{
			width:160px;
			height:160px;
			object-fit:cover;
			border-radius:250px;
			}
			.empat{
			width:260px;
			height:30px;
			background-color:white;
			border-style:solid;
			border-color:silver;
			padding-left:10px;
			text-align:left;
			border-radius:6px;
			color:silver;
			}
			.lima{
			width:380px;
			height:40px;
			background-color:white;
			border:none;
			box-shadow:0 0 5px silver;
			padding-left:15px;
			border-radius:100px;
			color: silver;
			text-align:left;
			}
			.enam{
			width:380px;
			height:40px;
			border-radius:3px;
			border-color:silver;
			border-style:solid;
			background-color:white;
			}
			.agree{
			background-color:blue;
			color:white;
			height:50px;
			width:380px;
			border:none;
			border-radius:100px;
			}
			.tujuh{
			width:60px;
			height:60px;
			object-fit:cover;
			object-position:center;
			border-radius:300px;
			vertical-align:middle;
			}
			.option{
			font-weight:regular;
			color:silver;
			padding-left:5px;
			vertical-align:middle;
			}
			.tweet{
			border:none;
			font-size:10px;
			color:white;
			font-weight:bold;
			background-color:blue;
			border-radius:80px;
			padding: 6px 10px 6px;
			vertical-align:middle;
			margin-left:60px;
			}